.myLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #DD0000;
    -fx-effect: dropshadow( gaussian , rgba(55,0,0,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.root {
	-fx-background-color: rgb(46,52,54);
}

.line {
	-fx-border-color: black;
	-fx-border-width: 3 0 0 0;
}

.MycolorPicker {
	-fx-background-color:rgb(136,138,133);
    -fx-font-weight: bold;		
}

.text-area {
	-fx-background-color:#990000;	
}

.bashrc {
	-fx-control-inner-background:rgb(186,189,182);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#previewTextFlow {
	-fx-background-color:black;
}

/*
 * DISABLE WITHOUT GREYING
 * 
 * .combo-box:disabled, .combo-box:disabled > * { -fx-opacity: 1.0 ; }
 * 
 * CHANGE .combo-box WITH THE CLASS OF YOUR ITEM ES. .text-area
 */


