.myLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #DD0000;
    -fx-effect: dropshadow( gaussian , rgba(55,0,0,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.root {
	-fx-background-color: rgb(46,52,54);
}

.line {
	-fx-border-color: black;
	-fx-border-width: 3 0 0 0;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.MycolorPicker {
	-fx-background-color:rgb(136,138,133);
    -fx-font-weight: bold;		
}

.MySpinner {
	-fx-background-color:rgb(136,138,133);
	-fx-control-inner-background:rgb(136,138,133);
	-fx-font-weight: bold;		
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.text-area {
	-fx-background-color:#990000;	
}

.bashrc {
	-fx-control-inner-background:rgb(186,189,182);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#previewTextFlow {
	-fx-background-color:white;
	-fx-font-family: "Monospaced";
	-fx-font-size: 12;
}

/*
 * DISABLE WITHOUT GREYING
 * 
 * .combo-box:disabled, .combo-box:disabled > * { -fx-opacity: 1.0 ; }
 * 
 * CHANGE .combo-box WITH THE CLASS OF YOUR ITEM ES. .text-area
 */


.toggle-button,
.toggle-button:focused{
    -fx-focus-color: transparent;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;

}
.toggle-button:selected,
.toggle-button:selected:focused {
      -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #DD0000;
    -fx-effect: dropshadow( gaussian , rgba(55,0,0,0.5) , 0,0,0,1 );
     -fx-background-radius: 5;
    -fx-focus-color: transparent;	
} 
  
 
 #hostnameToggle {
     
 }
 
 .radio-button,
.radio-button:focused {
	-fx-font-size: 14px;
    -fx-text-fill: #DD0000;
    -fx-effect: dropshadow( gaussian , rgba(22,0,0,0.5) , 0,0,0,1 );
	-fx-padding: 2px;
}
.radio-button:selected,
.radio-button:selected:focused {
	-fx-focus-color: red;
} 

#fontRadio {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #DD0000;
    -fx-effect: dropshadow( gaussian , rgba(55,0,0,0.5) , 0,0,0,1 );
}

#backRadio {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #DD0000;
    -fx-effect: dropshadow( gaussian , rgba(55,0,0,0.5) , 0,0,0,1 );
}

#RED > .radio {
	-fx-background-color: #DD0000;
}
#GREEN > .radio {
	-fx-background-color: #00DD00;
}
#BLACK > .radio {
	-fx-background-color: #000000;
}
#WHITE > .radio {
	-fx-background-color: #FFFFFF;
}
#BLUE > .radio {
	-fx-background-color: #0000DD;
}
#YELLOW > .radio {
	-fx-background-color: #DDDD00;
}



